{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login and Registration Form</title>
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/style.css'%}">
</head>
<body>
	<div class="container">
		<div class="form-container">
			<form id="login" method="post">
                {% csrf_token %}
				<h2>Login</h2>
				<label for="{{ form.username.id_for_label }}">Username:</label>
				{{ form.username }}
				<label for="{{ form.password.if_for_label }}">Password:</label>
                {{ form.password }}
				<input type="submit" value="Log In">
                <div class="forgot-password">
                    <a href="#">Forgot password?</a>
                </div>
                <div class="register-link">
                    <p>Don't have an account?</p>
                    <a href="{% url 'users:register' %}">Register here</a>
                </div>
			</form>
		</div>
	</div>
</body>
</html>